.redred {
    font-family: montserrat;
    margin-left: 20px;
  }
  

  .image {
    width: 500px;
    margin-left: 20px;
  }


  .heading {
    font-family: playfairdisplay;
    margin-left: 20px;
  }